/* Fonts */

@font-face {
  font-family: ForkAwesome;
  src: local("ForkAwesome"), url(/static/fonts/forkawesome-webfont.woff2);
}

/* Variables */
:root {
  --black: #000;
  --grey: #515151;
  --grey-light: #f9f9f9;
  --white: #ffffff;
  --pink: #e090d0;
  --pink-opacity: #e090d025;
  --purple: #9050a0;
  --purple-opacity: #9050a080
}

/* Common */

html {
  background: var(--white);
  color: var(--black);
  font-family: sans-serif;
  font-size: 14pt;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
}

main {
  margin: 8em auto auto auto;
  max-width: 1400px;
  padding: 0 1em;
}

main ::before {
  font-size: 2rem;
}

::before {
  display: inline-block;
  font-family: ForkAwesome;
  padding-right: 0.5em;
}

a {
  color: var(--purple);
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: var(--pink);
  text-decoration: underline;
}

form > * {
  display: block;
}

dd {
  margin: 0;
}

h1,
#page-spectacles h2,
#page-spectacle h2,
body[id$="followup"] h2 {
  display: none;
}

h2,
summary {
  font-size: 2em;
}

input {
  border: 1px solid var(--pink);
  margin: 0.5em 0 1.5em 0;
  padding: 1em;
}

label {
  border-bottom: 5px solid;
  border-image-slice: 0 0 7 0;
  border-image-source: linear-gradient(to right, var(--pink), 10%, var(--white), 0%, transparent);
  color: var(--grey);
  margin-top: 1em;
}

li {
  list-style: none;
}

.button {
  background: var(--purple);
  border: 1px solid var(--purple);
  color: var(--white);
  padding: 1em;
  text-align: center;
  transition: 0.2s;
}

.button:hover {
  background: var(--purple-opacity);
  cursor: pointer;
}

/* Flash Messages */

#messages {
  bottom: 0;
  position: fixed;
  right: 0;
  width: 20em;
}

#messages section {
  backdrop-filter: blur(0.3em);
  background: #fffc;
  border: 1px solid;
  border-radius: 0.1em;
  box-shadow: 0.1em 0.1em 0.3em #0004;
  font-size: 0.8em;
  line-height: 1.2;
  margin: 1em;
  padding: 1em 2em 1em 1em;
  position: relative;
}

#messages section input {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  line-height: 0.5;
  font-size: 1.5em;
  margin: 0;
  padding: 0.2em;
  position: absolute;
  right: 0;
  top: 0;
  width: min-content;
}

#messages section input::after {
  content: '×';
}

#messages section:has(input:checked) {
  display: none;
}

/* Nav */

body::before {
  content: url(/static/logo.jpg);
  display: block;
  height: 4em;
  left: 0;
  position: fixed;
  top: 0;
  transform: scale(0.75) translate(-12%, -25%);
  z-index: 3;
}

header {
  background: var(--black);
  position: fixed;
  height: 4em;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2
}

header nav::before {
  align-items: center;
  background: var(--black);
  color: var(--purple);
  content: "\f0c9";
  display: flex;
  height: 3em;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 3em;
  z-index: 2;
}

header nav {
  box-sizing: border-box;
  display: block;
  font-size: 1.3em;
  height: 3em;
  margin-left: auto;
  order: -1;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  transition-delay: 0.5s;
  transition-property: z-index;
  width: 3em;
  z-index: 3;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

header nav:hover {
  background: var(--black);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 33vw;
  z-index: 1;
}

header nav:hover ul {
  background: var(--black);
  max-height: 20em;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

header nav:hover li:last-child {
  margin-left: 0;
}

header nav:hover ~ * {
  display: block !important;
  height: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

header nav:hover::before {
  display: none;
}

header nav li:first-child a::before {
  display: none;
}

/* Footer */

footer {
  background: var(--grey-light);
  border-bottom: 1px solid var(--purple);
  position: fixed;
  top: 4em;
  width: 100%;
  z-index: 1;
}

footer ul {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

body[id^="page-spectacle"] footer ul li:first-of-type a,
body[id="page-roadmap_send"] footer ul li:first-of-type a,
body[id$="followup"] footer ul li:nth-of-type(2) a {
  text-decoration: underline;
}

/* Before */

.active::before {
  border: 1px solid var(--purple);
}

.artist,
.costume,
.create,
.hide,
.makeup,
.next,
.overview,
.previous,
.send,
.show,
.sound,
.vehicle,
.update {
  font-size: 0;
}

.artist::before {
  content: "\f2c0";
}

.costume::before {
  content: "\f006";
}

.create::before {
  content: "\f196";
}

.hide::before {
  content: "\f070";
}

.makeup::before {
  content: "\f1fc";
}

.next::before {
  content: "\f105";
  padding-left: 0.5em;
}

.overview::before {
  content: "\f06e";
}

.previous::before {
  content: "\f104";
}

.send::before {
  content: "\f016";
}

.show::before {
  content: "\f06e";
}

.sound::before {
  content: "\f001";
}

.vehicle::before {
  content: "\f0d1";
}

.update::before {
  content: "\f044";
}

/* Actions */

.actions {
  display: flex;
  position: absolute;
  right: 1em;
  top: 7em;
}

/* Follow & Time */

.follow,
.time {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.follow *::before {
  margin: 0 2em;
  padding: 0.1em 0.25em;
}

/* Login */

#page-login::before,
#page-login header,
#page-login footer {
  display: none;
}

#page-login {
  align-items: center;
  background: var(--black);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#page-login main {
  align-items: center;
  display: flex;
}

#page-login img {
  display: block;
  margin: 1em 2em;
  width: 30em;
}

#page-login input {
  /* - borders - paddings */
  width: calc(100% - 2px - 2em);
}

#page-login section {
  width: 50%;
}

#page-login .button {
  float: right;
  margin: 0 0 0 10%;
  width: 35%;
}

#page-login .cancel {
  display: none;
}

/* Artists, Costumes, Make-up, Sounds, Vehicles */

#page-artists h2,
#page-costumes h2,
#page-makeups h2,
#page-sounds h2,
#page-vehicles h2 {
  font-size: 2em;
}

#page-artists div,
#page-costumes div,
#page-makeups div,
#page-sounds div,
#page-vehicles div
{
  display: flex;
  margin-bottom: 1em;
  width: 50%;
}

#page-artists div:hover,
#page-costumes div:hover,
#page-makeups div:hover,
#page-sounds div:hover,
#page-vehicles div:hover
{
  background: var(--grey-light);
}

#page-artists dl ::before,
#page-costumes dl ::before,
#page-makeups dl ::before,
#page-sounds dl ::before,
#page-vehicles dl ::before
{
  font-size: 1rem;
  padding: 0;
}

#page-artists dt a,
#page-costumes dt a,
#page-makeups dt a,
#page-sounds dt a,
#page-vehicles dt a
{
  color: inherit;
}

#page-artists div dt,
#page-costumes div dt,
#page-makeups div dt,
#page-sounds div dt,
#page-vehicles div dt
{
  width: 75%;
}

#page-artists div dd,
#page-costumes div dd,
#page-makeups div dd,
#page-sounds div dd,
#page-vehicles div dd
{
  margin: 0 1em;
}

#page-artists div dt::before,
#page-costumes div dt::before,
#page-makeups div dt::before,
#page-sounds div dt::before,
#page-vehicles div dt::before
{
  color: var(--data-color);
  content: "\f0c8";
  padding-right: 0.5em;
}
