<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% if title %}{{ title }} — {% endif %}Paillette</title>
    <meta charset="utf-8" />
    <meta name="description" content="Gestion des spectacles de Mademoiselle Paillette" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') | version }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobile.css') | version }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='print.css') | version }}" media="print"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>/* Stupid hack for iOS :hover */ document.addEventListener("touchstart", function(){}, true);</script>
  </head>
  <body id="page-{{ page_name or request.endpoint }}">
    <header>
      {% if g.person %}
        <h1><a href="{{ url_for('spectacles') }}">Gestion des paillettes</a></h1>

        <ul>
          {% if request.endpoint == 'spectacle' and all_dates %}
            {% set year = all_dates[0][:4] %}
            {% set month = all_dates[0][5:7] %}
          {% else %}
            {% set year = request.view_args.get('year') %}
            {% set month = request.view_args.get('month') %}
          {% endif %}
          <li>
            {% if year and month and request.endpoint != 'spectacles' %}
              <a href="{{ url_for('spectacles', year=year, month=month) }}">
            {% else %}
              <a href="{{ url_for('spectacles') }}">
            {% endif %}
              Prestations
            </a>
          </li>
          <li>
            {% if year and month and not request.endpoint.endswith('_followup') %}
              <a href="{{ url_for('artists_followup', year=year, month=month) }}">
            {% else %}
              <a href="{{ url_for('artists_followup') }}">
            {% endif %}
              Suivis
            </a>
          </li>
        </ul>

        <nav>
          <ul>
            <li><a href="{{ url_for('person_update') }}">Mon profil</a></li>
            <li><a href="{{ url_for('persons') }}">Utilisateurs</a></li>
            <li><a href="{{ url_for('artists') }}">Équipe</a></li>
            <li><a href="{{ url_for('costumes') }}">Costumes</a></li>
            <li><a href="{{ url_for('makeups') }}">Maquillage</a></li>
            <li><a href="{{ url_for('sounds') }}">Son</a></li>
            <li><a href="{{ url_for('vehicles') }}">Véhicules</a></li>
            <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
          </ul>
        </nav>
      {% endif %}

      {% set messages = get_flashed_messages() %}
      {% if messages %}
        <aside id="messages">
          {% for message in messages %}
            <section>
              <input type="checkbox" title="Fermer" onClick="return this.parentNode.remove() /* Just for Firefox that’s missing ':has, ;) */" />
              {{ message }}
            </section>
          {% endfor %}
        </aside>
      {% endif %}
    </header>

    <main>
      {% block content %}{% endblock content %}
    </main>
  </body>

  <script>
    let submit = document.querySelector('form:not([action]) [type="submit"]');
    if (submit) {
      let cancel = document.createElement('button');
      cancel.setAttribute('type', 'button');
      cancel.setAttribute('class', 'cancel');
      cancel.setAttribute('onclick', 'history.back()');
      cancel.textContent = 'Annuler';
      submit.before(cancel);
    }
  </script>
</html>
