<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% if title %}{{ title }} — {% endif %}Paillette</title>
    <meta charset="utf-8" />
    <meta name="description" content="Gestion des spectacles de Mademoiselle Paillette" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body id="page-{{ request.endpoint }}">
    <header>
      {% if g.person %}
        <nav>
          <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.jpg') }}"></a>
          <ul>
            <li><a href="{{ url_for('person_update') }}">Mon profil</a></li>
            <li><a href="{{ url_for('persons') }}">Utilisateurs</a></li>
            <li><a href="{{ url_for('artists') }}">Artistes</a></li>
            <li><a href="{{ url_for('costumes') }}">Costumes</a></li>
            <li><a href="{{ url_for('makeups') }}">Maquillage</a></li>
            <li><a href="{{ url_for('sounds') }}">Son</a></li>
            <li><a href="{{ url_for('vehicles') }}">Véhicules</a></li>
            <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
          </ul>
        </nav>
      {% endif %}

      {% set messages = get_flashed_messages() %}
      {% if messages %}
        <aside id="messages">
          {% for message in messages %}
            <section>
              <input type="checkbox" title="Fermer" onClick="return this.parentNode.remove() /* Just for Firefox that’s missing ':has, ;) */" />
              {{ message }}
            </section>
          {% endfor %}
        </aside>
      {% endif %}
    </header>

    <main>
      {% block content %}{% endblock content %}
    </main>

    <footer>
      {% if g.person %}
        <ul>
          <li><a href="{{ url_for('spectacles') }}">Spectacles</a></li>
          <li><a href="{{ url_for('artists_followup') }}">Suivis</a></li>
        </ul>
      {% endif %}
    </footer>
  </body>

  <script>
    let submit = document.querySelector('form:not([action]) [type="submit"]');
    if (submit) {
      let cancel = document.createElement('button');
      cancel.setAttribute('type', 'button');
      cancel.setAttribute('class', 'cancel');
      cancel.setAttribute('onclick', 'history.back()');
      cancel.textContent = 'Annuler';
      submit.before(cancel);
    }
  </script>
</html>
