{%- macro follow_menu(active) -%}
  <ul class="follow">
    {% for key, label in (('artist', 'Artistes'), ('costume', 'Costume'), ('makeup', 'Makeup'), ('sound', 'Sound'), ('vehicle', 'Véhicules')) %}
      <li><a class="{{ key }} {{ 'active' if key == active }}" href="{{ url_for(key + 's_followup', year=start.year, month=start.month) }}">{{ label }}</a></li>
    {% endfor %}
  </ul>
{%- endmacro -%}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% if title %}{{ title }} — {% endif %}Paillette</title>
    <meta charset="utf-8" />
    <meta name="description" content="Gestion des spectacles de Mademoiselle Paillette" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobile.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='print.css') }}" media="print"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>/* Stupid hack for iOS :hover */ document.addEventListener("touchstart", function(){}, true);</script>
  </head>
  <body id="page-{{ page_name or request.endpoint }}">
    <header>
      {% if g.person %}
        <h1><a href="{{ url_for('spectacles') }}">Gestion des paillettes</a></h1>

        <ul>
          <li><a href="{{ url_for('spectacles') }}">Prestations</a></li>
          <li><a href="{{ url_for('artists_followup') }}">Suivis</a></li>
        </ul>

        <nav>
          <ul>
            <li><a href="{{ url_for('person_update') }}">Mon profil</a></li>
            <li><a href="{{ url_for('persons') }}">Utilisateurs</a></li>
            <li><a href="{{ url_for('artists') }}">Équipe</a></li>
            <li><a href="{{ url_for('costumes') }}">Costumes</a></li>
            <li><a href="{{ url_for('makeups') }}">Maquillage</a></li>
            <li><a href="{{ url_for('sounds') }}">Son</a></li>
            <li><a href="{{ url_for('vehicles') }}">Véhicules</a></li>
            <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
          </ul>
        </nav>
      {% endif %}

      {% set messages = get_flashed_messages() %}
      {% if messages %}
        <aside id="messages">
          {% for message in messages %}
            <section>
              <input type="checkbox" title="Fermer" onClick="return this.parentNode.remove() /* Just for Firefox that’s missing ':has, ;) */" />
              {{ message }}
            </section>
          {% endfor %}
        </aside>
      {% endif %}
    </header>

    <main>
      {% block content %}{% endblock content %}
    </main>
  </body>

  <script>
    let submit = document.querySelector('form:not([action]) [type="submit"]');
    if (submit) {
      let cancel = document.createElement('button');
      cancel.setAttribute('type', 'button');
      cancel.setAttribute('class', 'cancel');
      cancel.setAttribute('onclick', 'history.back()');
      cancel.textContent = 'Annuler';
      submit.before(cancel);
    }
  </script>
</html>
