{% set title = 'Artiste — {}'.format(artist.name) %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <form method="post">
    <label for="firstname">Prénom</label>
    <input id="firstname" name="firstname" value="{{ request.form.firstname or artist.firstname }}" required>

    <label for="lastname">Nom</label>
    <input id="lastname" name="lastname" value="{{ request.form.lastname or artist.lastname }}" required>

    <label for"=color">Couleur</label>
    <input id="color" name="color" type="color" value="{{ request.form.color or artist.color or '' }}">

    <label for="mail">Email</label>
    <input id="mail" name="mail" type="email" value="{{ request.form.mail or artist.mail or '' }}">

    <label for="phone">Téléphone</label>
    <input id="phone" name="phone" value="{{ request.form.phone or artist.phone }}" required>

    <label for="comment">Commentaire</label>
    <textarea id="comment" name="comment">{{ request.form.comment or artist.comment or '' }}</textarea>

    <input class="button" type="submit" value="Mettre à jour">
  </form>
{% endblock %}
