{% import '_macros.jinja2' as macros %}

{% set title = 'Suivi des artistes' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  {{ macros.follow_menu('artist', start) }}

  <ul class="time">
    <li><a class="previous" href="{{ url_for('artists_followup', year=previous.year, month=previous.month) }}">Mois précédent</a></li>
    <li>{{ start.strftime('%B %Y') | capitalize }}</li>
    <li><a class="next" href="{{ url_for('artists_followup', year=next.year, month=next.month) }}">Mois suivant</a></li>
  </ul>

  <ul class="actions">
    <li><a class="filter {{ 'active' if 'artists-followup-filter' in session }}" href="{{ url_for('artists_followup_filter', year=start.year, month=start.month) }}">Filtrer</a></li>
  </ul>

  <table>
    <thead>
      <tr>
        <th></th>
        {% for i in range(1, stop.day + 1) %}
          <th>
            {{ start.replace(day=i) | date_simple }}
            <span class="count"></span>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for (grouper, spectacles) in artists_spectacles | groupby('grouper') %}
        {% set artist = spectacles[0] %}
        <tr style="color: {{ artist.color or 'black' }}">
          <th>
            {{ artist.name }}
            <span class="count"></span>
          </th>
          {% for i in range(1, stop.day + 1) %}
            {% set day = start.replace(day=i) %}
            {% set day_representation_dates = representation_dates | selectattr('date', 'eq', day) | list %}
            {% set day_spectacles = spectacles | selectattr('date', 'eq', day) | list %}
            {% set day_available = availabilities | selectattr('date', 'eq', day) | selectattr('id', 'eq', artist.artist_id) | first %}
            <td>
              <select onChange="update(this, {{ artist.artist_id }}, '{{ day }}')" data-artist="{{ artist.artist_id }}" data-day="{{ day }}">
                <option hidden></option>
                <option value="-"></option>
                <option {{ "selected" if not day_spectacles and day_available and not day_available.available }} value="0-">
                  0
                </option>
                <option {{ "selected" if not day_spectacles and day_available and day_available.available }} value="1-">
                  1
                </option>
                {% for representation_date in day_representation_dates %}
                  <option value="-{{ representation_date.id }}" {{ "selected" if (day_spectacles | selectattr('trigram', 'eq', representation_date.trigram) | first) }}>
                    {{ representation_date.trigram }}
                  </option>
                {% endfor %}
              </select>
              <span>
                {%- for spectacle in day_spectacles %}
                  {{ spectacle.trigram }}
                {%- else -%}
                  {%- if day_available %}
                    {{ '1' if day_available.available else '0' }}
                  {% endif -%}
                {% endfor -%}
              </span>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    function getCount(children) {
      return (
        [...children].filter(
          child => !['', '0', '1'].includes(child.lastElementChild.textContent.trim())
        ).length
      )
    }

    function update(select) {
      artistId = select.getAttribute("data-artist")
      day = select.getAttribute("data-day")
      select.nextElementSibling.textContent = '?'
      let data = new FormData()
      data.append("available", select.value.split('-')[0])
      data.append("representation_date_id", select.value.split('-')[1])
      fetch(
        `/availabilities/${artistId}/${day}/update`,
        {"method": "POST", "body": data}
      ).then(
        response => response.json()
      ).then(
        data => select.nextElementSibling.textContent = data.value
      ).then(
        data => {
          let tr = select.closest("tr")
          let table = select.closest("table")
          let index = select.closest("td").cellIndex
          tr.querySelector(".count").textContent = getCount(tr.querySelectorAll("td"))
          table.querySelector(`thead th:nth-child(${index + 1}) .count`).textContent = getCount(
            table.querySelectorAll(`td:nth-of-type(${index})`)
          )
        }
      )
    }

    function fillSelect(select) {
      let values = [...select.options].reduce((array, option) => (
        {...array, [option.text]: option.value}), {}
      )
      previousTd = select.parentElement.previousElementSibling
      if (previousTd.tagName != "TD") return null
      previousSelect = previousTd.querySelector("select")
      if (previousSelect.value && previousSelect.value != "-") {
        value = previousSelect.options[previousSelect.selectedIndex].text
      } else {
        value = fillSelect(previousSelect)
      }
      if (value && Object.keys(values).includes(value)) {
        select.value = values[value]
        update(select)
        return value
      }
      return null
    }

    function clearSelect(select) {
      let value = select.options[select.selectedIndex].text
      select.value = "-"
      update(select)
      previousTd = select.parentElement.previousElementSibling
      previousSelect = previousTd.querySelector("select")
      let previousValue = previousSelect.options[previousSelect.selectedIndex].text
      if (value == previousValue) {
        clearSelect(previousSelect)
      }
    }

    function fillRow(event) {
      if (event.ctrlKey || event.metaKey) {
        event.preventDefault()
        if (event.target.value == "-" || event.target.value == "") {
          fillSelect(event.target)
        } else {
          clearSelect(event.target)
        }
      }
    }

    document.querySelectorAll("tbody .count").forEach(span => {
      span.textContent = getCount(span.closest("tr").querySelectorAll("td"))
    })
    document.querySelectorAll("thead .count").forEach((span, index) => {
      span.textContent = getCount(span.closest("table").querySelectorAll(`td:nth-of-type(${index + 1})`))
    })

    document.querySelectorAll("select").forEach(select => {
      select.addEventListener("mousedown", fillRow, true)
    })
  </script>
{% endblock %}
