{% set title = 'Ajouter un artiste' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <form method="post">
    <label for="firstname">Prénom</label>
    <input id="firstname" name="firstname" value="{{ request.form.firstname or '' }}" required>

    <label for="lastname">Nom</label>
    <input id="lastname" name="lastname" value="{{ request.form.lastname or '' }}" required>

    <label for"=color">Couleur</label>
    <input id="color" name="color" value="{{ request.form.color or '' }}" type="color">

    <label for="mail">Email</label>
    <input id="mail" name="mail" type="email" value="{{ request.form.mail or '' }}">

    <label for="phone">Téléphone</label>
    <input id="phone" name="phone" value="{{ request.form.phone or '' }}" required>

    <label for="comment">Commentaire</label>
    <textarea id="comment" name="comment">{{ request.form.comment or '' }}</textarea>

    <input class="button" type="submit" value="Ajouter">
  </form>
{% endblock %}
