{% import '_macros.jinja2' as macros %}

{% set title = 'Suivi des artistes' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  {{ macros.follow_menu('artist', start) }}

  <ul class="time">
    <li><a class="previous" href="{{ url_for('artists_followup', year=previous.year, month=previous.month) }}">Mois précédent</a></li>
    <li>{{ start.strftime('%B %Y') | capitalize }}</li>
    <li><a class="next" href="{{ url_for('artists_followup', year=next.year, month=next.month) }}">Mois suivant</a></li>
  </ul>

  <ul class="actions">
    <li><a class="filter {{ 'active' if 'artists-followup-filter' in session }}" href="{{ url_for('artists_followup_filter', year=start.year, month=start.month) }}">Filtrer</a></li>
  </ul>

  <table>
    <thead>
      <tr>
        <th></th>
        {% for i in range(1, stop.day + 1) %}
          <th>
            {{ start.replace(day=i) | date_simple }}
            <span class="count"></span>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for (grouper, spectacles) in artists_spectacles | groupby('grouper') %}
        {% set artist = spectacles[0] %}
        <tr style="color: {{ artist.color or 'black' }}">
          <th>
            {{ artist.name }}
            <span class="count"></span>
          </th>
          {% for i in range(1, stop.day + 1) %}
            {% set day = start.replace(day=i) %}
            {% set day_representation_dates = representation_dates | selectattr('date', 'eq', day) | list %}
            <td>
              <select onChange="update(this, {{ artist.artist_id }}, '{{ day }}')">
                <option hidden></option>
                <option value="-"></option>
                <option value="0-">0</option>
                <option value="1-">1</option>
                {% for representation_date in day_representation_dates %}
                  <option value="1-{{ representation_date.id }}">{{ representation_date.trigram }}</option>
                {% endfor %}
              </select>
              <span>
                {%- for spectacle in spectacles | selectattr('date', 'equalto', day) %}
                  {{ spectacle.trigram }}
                {%- else -%}
                  {%- for availability in availabilities | selectattr('date', 'equalto', day) | selectattr('id', 'equalto', artist.artist_id) %}
                    {{ '1' if availability.available else '0' }}
                  {% endfor -%}
                {% endfor -%}
              </span>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    function getCount(children) {
      return (
        [...children].filter(
          child => !['', '0'].includes(child.lastElementChild.textContent.trim())
        ).length
      )
    }

    function update(select, artistId, date) {
      select.nextElementSibling.textContent = '?'
      let data = new FormData()
      data.append("available", select.value.split('-')[0])
      data.append("representation_date_id", select.value.split('-')[1])
      fetch(
        `/availabilities/${artistId}/${date}/update`,
        {"method": "POST", "body": data}
      ).then(
        response => response.json()
      ).then(
        data => select.nextElementSibling.textContent = data.value
      ).then(
        data => {
          let tr = select.closest("tr")
          let table = select.closest("table")
          let index = select.closest("td").cellIndex
          tr.querySelector(".count").textContent = getCount(tr.querySelectorAll("td"))
          table.querySelector(`thead th:nth-child(${index + 1}) .count`).textContent = getCount(
            table.querySelectorAll(`td:nth-of-type(${index})`)
          )
        }
      )
    }

    document.querySelectorAll("tbody .count").forEach(span => {
      span.textContent = getCount(span.closest("tr").querySelectorAll("td"))
    })
    document.querySelectorAll("thead .count").forEach((span, index) => {
      span.textContent = getCount(span.closest("table").querySelectorAll(`td:nth-of-type(${index + 1})`))
    })
  </script>
{% endblock %}
