{% set title = 'Artiste − ' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Artiste − </h2>

  <ul class="actions">
    <li>Supprimer l’artiste</li>
  </ul>

  <form>
    <label for="firstname">Prénom</label>
    <input id="firstname" name="firstname" value="">

    <label for="lastname">Nom</label>
    <input id="lastname" name="lastname" value="">

    <label for="mail">Email</label>
    <input id="mail" name="mail" value="">

    <label for="phone">Téléphone</label>
    <input id="phone" name="phone" value="">

    <a href="">Annuler</a>
    <input type="submit" value="Mettre à jour">
  </form>
{% endblock %}
