{% set title = 'Équipe' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2 class="artist">{{ title }}</h2>

  <ul class="actions">
    <li><a class="create" href="{{ url_for('artist_create') }}">Ajouter un artiste</a></li>
  </ul>

  <dl>
    {% for artist in artists | rejectattr('hidden') | sort(attribute='name') %}
      <div id="artist-{{ artist.id }}">
        <dt{% if artist.color %} style="--data-color: {{ artist.color }}"{% endif %}><a href="{{ url_for('artist_update', artist_id=artist.id) }}">{{ artist.name }}</a></dt>
        <dd><a class="update" href="{{ url_for('artist_update', artist_id=artist.id) }}">Éditer</a></dd>
        <dd><a class="remove" href="{{ url_for('hide', type='artist', id=artist.id) }}">Supprimer</a></dd>
      </div>
    {% endfor %}
  </dl>
{% endblock %}
