{% set title = 'Suivi des artistes' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <ul>
    <li><a href="{{ url_for('artists_followup', year=start.year, month=start.month) }}">Artistes</a></li>
    <li><a href="{{ url_for('costumes_followup', year=start.year, month=start.month) }}">Costumes</a></li>
    <li><a href="{{ url_for('makeups_followup', year=start.year, month=start.month) }}">Maquillage</a></li>
    <li><a href="{{ url_for('sounds_followup', year=start.year, month=start.month) }}">Son</a></li>
    <li><a href="{{ url_for('vehicles_followup', year=start.year, month=start.month) }}">Véhicules</a></li>
  </ul>

  <ul>
    <li><a href="{{ url_for('artists_followup', year=previous.year, month=previous.month) }}">Mois précédent</a></li>
    <li>{{ start.strftime('%B %Y') | capitalize }}</li>
    <li><a href="{{ url_for('artists_followup', year=next.year, month=next.month) }}">Mois suivant</a></li>
  </ul>

  <table>
    <thead>
      <tr>
        <th></th>
        {% for i in range(1, stop.day + 1) %}
          <th>
            {{ start.replace(day=i).strftime('%d/%m') }}
            <span class="count">{{ artists_spectacles | selectattr('date.day', 'equalto', i) | list | count }}</span>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for (grouper, spectacles) in artists_spectacles | groupby('grouper') %}
        {% set artist = spectacles[0] %}
        <tr>
          <th>
            {{ artist.name }}
            <span class="count">{{ spectacles | selectattr('date') | list | length }}</span>
          </th>
          {% for i in range(1, stop.day + 1) %}
            {% set day = start.replace(day=i) %}
            <td>
              <a href="{{ url_for('availabilities_update', artist_id=artist.artist_id, date=day) }}">
                {% for spectacle in spectacles | selectattr('date', 'equalto', day) %}
                  {{ spectacle.trigram }}
                {% else %}
                  {% for availability in availabilities | selectattr('date', 'equalto', day) | selectattr('id', 'equalto', artist.artist_id) %}
                    {{ '1' if availability.available else '0' }}
                  {% endfor %}
                {% endfor %}
              </a>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
