{% set title = 'Filtrage des artistes' %}
{% set filter = session.get('artists-followup-filter') %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <form method="post">
    <label for="type">Type de filtrage</label>
    <select id="type" name="type" onChange="update()">
      <option value="none" {{ 'selected' if not filter }}>Aucun</option>
      <option value="availability" {{ 'selected' if filter and filter[0] == 'availabilities' }}>Par disponibilité</option>
      <option value="spectacle" {{ 'selected' if filter and filter[0] == 'spectacles' }}>Par spectacle</option>
    </select>

    <fieldset id="availability" hidden>
      <legend>Disponibilités</legend>
      <label for="unavailable">
        <input id="unavailable" name="availabilities" value="0" type="checkbox" {{ 'checked' if filter and filter[0] == 'availabilities' and 0 in filter[1] }}>
        Indisponible
      </label>
      <label for="available">
        <input id="available" name="availabilities" value="1" type="checkbox" {{ 'checked' if not filter or filter[0] != 'availabilities' or 1 in filter[1] }}>
        Disponible
      </label>
      <label for="available_from">Du <input id="available_from" name="available_from" type="date" value="{{ filter[2] if filter and filter[0] == 'availabilities' else start }}" required></label>
      <label for="available_to">Au <input id="available_to" name="available_to" type="date" value="{{ filter[3] if filter and filter[0] == 'availabilities' else stop }}" required></label>
    </fieldset>

    <fieldset id="spectacle" hidden>
      <legend>Préstations</legend>
      {% for spectacle in spectacles %}
        <label for="spectacle-{{ spectacle.id }}">
          <input id="spectacle-{{ spectacle.id }}" name="spectacles" value="{{ spectacle.id }}" type="checkbox" {{ 'checked' if filter and (filter[0] != 'spectacles' or spectacle.id in filter[1]) }}>
          {{ spectacle.name }}
        </label>
      {% else %}
        <p>Aucun spectacle ce jour-là.</p>
      {% endfor %}
      <label for="spectacle_from">Du <input id="spectacle_from" name="spectacle_from" type="date" value="{{ filter[2] if filter and filter[0] == 'spectacles' else start }}" required></label>
      <label for="spectacle_to">Au <input id="spectacle_to" name="spectacle_to" type="date" value="{{ filter[3] if filter and filter[0] == 'spectacles' else stop }}" required></label>
    </fieldset>

    <input class="button" type="submit" value="Filtrer">
  </form>

  <script>
    function update() {
      let select = document.getElementById('type');
      document.querySelectorAll("fieldset").forEach(
        obj => obj.id != select.options[select.selectedIndex].value ? obj.setAttribute("hidden", true) : obj.removeAttribute("hidden")
      );
    }
    update();
  </script>
{% endblock %}
