{% set title = 'Costumes' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2 class="costume">{{ title }}</h2>

  <ul class="actions">
    <li><a class="create" href="{{ url_for('costume_create') }}">Ajouter un costume</a></li>
  </ul>

  <dl>
    {% for costume in costumes | rejectattr('hidden') | sort(attribute='name') %}
      <div id="costume-{{ costume.id }}">
        <dt{% if costume.color %} style="--data-color: {{ costume.color }}"{% endif %}><a href="{{ url_for('costume_update', costume_id=costume.id) }}">{{ costume.name }}</a></dt>
        <dd><a class="update" href="{{ url_for('costume_update', costume_id=costume.id) }}">Éditer</a></dd>
        <dd><a class="remove" href="{{ url_for('hide', type='costume', id=costume.id) }}">Supprimer</a></dd>
      </div>
    {% endfor %}
  </dl>
{% endblock %}
