{% set title = 'Costumes' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <ul class="actions">
    <li><a href="{{ url_for('costume_create') }}">Ajouter un costume</a></li>
  </ul>

  <dl>
    {% for costume in costumes %}
      <dt{% if costume.color %} data-color="{{ costume.color }}"{% endif %}>{{ costume.name }}</dt>
      <dd><a href="{{ url_for('costume_update', costume_id=costume.id) }}">Éditer</a></dd>
      <dd>Supprimer</dd>
    {% endfor %}
  </dl>
{% endblock %}
