{% set title = 'Connexion' %}
{% set page_name = 'login' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <img src="{{ url_for('static', filename='logo.jpg') }}">

  <section>
    <h1>Gestion des paillettes</h1>

    <form method="post" action="{{ url_for('login') }}">
      <label for="login">Email</label>
      <input id="login" name="login" type="email" placeholder="Email">

      <label for="password">Mot de passe</label>
      <input id="password" name="password" type="password" placeholder="Mot de passe">

      {% if redirect %}
        <input name="redirect" type="hidden" value="{{ redirect }}">
      {% endif %}

      <input class="button" type="submit" value="Connexion">
    </form>

    <a href="{{ url_for('password_lost') }}">Mot de passe perdu</a>
  </section>
{% endblock %}
