{% import '_macros.jinja2' as macros %}

{% set title = 'Suivi du maquillage' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  {{ macros.follow_menu('makeup', start) }}

  <ul class="time">
    <li><a class="previous" href="{{ url_for('makeups_followup', year=previous.year, month=previous.month) }}">Mois précédent</a></li>
    <li>{{ start.strftime('%B %Y') | capitalize }}</li>
    <li><a class="next" href="{{ url_for('makeups_followup', year=next.year, month=next.month) }}">Mois suivant</a></li>
  </ul>

  <table>
    <thead>
      <tr>
        <th></th>
        {% for i in range(1, stop.day + 1) %}
          <th>{{ start.replace(day=i) | date_simple }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for (grouper, spectacles) in makeups_spectacles | groupby('grouper') %}
        {% set makeup = spectacles[0] %}
        <tr>
          <th style="background: {{ makeup.color or 'transparent' }}">{{ makeup.name }}</th>
          {% for i in range(1, stop.day + 1) %}
            {% set day = start.replace(day=i) %}
            {% set day_spectacle_dates = spectacle_dates | selectattr('date_from', 'le', day) | selectattr('date_to', 'ge', day) | list %}
            <td {{ ('style="--cell-background-color: ' + makeup.color + '"') | safe if makeup.color }}>
              <select onChange="update(this, 'makeup', {{ makeup.makeup_id }}, '{{ day }}')">
                <option hidden></option>
                <option value=""></option>
                {% for spectacle_date in day_spectacle_dates %}
                  <option value="{{ spectacle_date.id }}">{{ spectacle_date.trigram }}</option>
                {% endfor %}
              </select>
              <span>
                {%- for spectacle in spectacles -%}
                  {%- if spectacle.date_from and spectacle.date_from <= day <= spectacle.date_to -%}
                    {{ spectacle.trigram + ' ' }}
                  {%- endif -%}
                {%- endfor -%}
              </span>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ macros.table_update_script() }}
{% endblock %}
