{% set title = 'Boîtes de maquillage' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2 class="makeup">{{ title }}</h2>

  <ul class="actions">
    <li><a class="create" href="{{ url_for('makeup_create') }}">Ajouter une boîte de maquillage</a></li>
  </ul>

  <dl>
    {% for makeup in makeups | rejectattr('hidden') | sort(attribute='name') %}
      <div id="makeup-{{ makeup.id }}">
        <dt{% if makeup.color %} style="--data-color: {{ makeup.color }}"{% endif %}><a href="{{ url_for('makeup_update', makeup_id=makeup.id) }}">{{ makeup.name }}</a></dt>
        <dd><a class="update" href="{{ url_for('makeup_update', makeup_id=makeup.id) }}">Éditer</a></dd>
        <dd><a class="remove" href="{{ url_for('hide', type='makeup', id=makeup.id) }}">Supprimer</a></dd>
      </div>
    {% endfor %}
  </dl>
{% endblock %}
