{% set title = 'Boîtes de Maquillage' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <ul class="actions">
    <li><a href="{{ url_for('makeup_create') }}">Ajouter une boîte de maquillage</a></li>
  </ul>

  <dl>
    {% for makeup in makeups %}
      <dt{% if makeup.color %} data-color="{{ makeup.color }}"{% endif %}>{{ makeup.name }}</dt>
      <dd><a href="{{ url_for('makeup_update', makeup_id=makeup.id) }}">Éditer</a></dd>
      <dd>Supprimer</dd>
    {% endfor %}
  </dl>
{% endblock %}
