{% set title = 'Réinitialisation du mot de passe' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Réinitialisation du mot de passe</h2>

  <form method="post">
    <label for="password">Mot de passe</label>
    <input id="password" name="password" type="password" placeholder="Mot de passe"/>
    <label for="confirm_password">Confirmez le mot de passe</label>
    <input id="confirm_password" name="confirm_password" type="password" placeholder="Mot de passe"/>
    <input type="submit" class="button" value="Réinitialiser"/>
  </form>
{% endblock %}
