{% set title = 'Ajouter un utilisateur' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Ajouter un utilisateur</h2>

  <form>
    <label for="firstname">Prénom</label>
    <input id="firstname" name="firstname" placeholder="Prénom">

    <label for="lastname">Nom</label>
    <input id="lastname" name="lastname" placeholder="Nom">

    <label for="mail">Email</label>
    <input id="mail" name="mail" placeholder="Email">

    <a href="">Annuler</a>
    <input type="submit" value="Ajouter">
  </form>
{% endblock %}
