{% set title = 'Utilisateurs' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <ul class="actions">
    <li><a class="create" href="{{ url_for('person_create') }}">Ajouter un utilisateur</a></li>
  </ul>

  <dl>
    {% for person in persons %}
    <div>
      <dt><a href="{{ url_for('person_update', person_id=person.id) }}">{{ person.name }}</a></dt>
      <dd><a class="update" href="{{ url_for('person_update', person_id=person.id) }}">Éditer</a></dd>
    </div>
    {% endfor %}
  </dl>
{% endblock %}
