{% set title = 'Profil - Prénom Nom ' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Profil − Prénom Nom </h2>

  <ul class="actions">
    <li>Supprimer l’utilisateur</li>
  </ul>

  <form>
    <label for="firstname">Prénom</label>
    <input id="firstname" name="firstname" value="">

    <label for="lastname">Nom</label>
    <input id="lastname" name="lastname" value="">

    <label for="mail">Email</label>
    <input id="mail" name="mail" value="">

    <label for="password">Mot de passe</label>
    <input id="password" name="password" value="">

    <label for="confirm_password">Confirmez le mot de passe</label>
    <input id="confirm_password" name="confirm_password" value="">

    <a href="">Annuler</a>
    <input type="submit" value="Mettre à jour">
  </form>
{% endblock %}
