{% set spectacle = artist_representation_dates[0] %}
{% set first_date = (artist_representation_dates | sort(attribute='representation_date'))[0].representation_date %}
{% set last_date = (artist_representation_dates | sort(attribute='representation_date'))[-1].representation_date %}
{% set dates = (first_date, last_date) | date_range %}
{% set title = '{}, {}'.format(spectacle.place, dates) %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <section>
    <h3>Résumé</h3>

    <dl>
      <dt>Lieu</dt>
      <dd>{{ spectacle.place }}</dd>

      <dt>Du</dt>
      <dd>{{ first_date.strftime('%d/%m') }}</dd>

      <dt>Au</dt>
      <dd>{{ last_date.strftime('%d/%m') }}</dd>

      <dt>Évènement</dt>
      <dd>{{ spectacle.event }}</dd>

      <dt>Lien</dt>
      <dd>{{ spectacle.link }}</dd>

      {% if spectacle.organizer %}
        <dt>Organisateur</dt>
        <dd>{{ spectacle.organizer }}</dd>
      {% endif %}

      <dt>Départ le</dt>
      <dd>{{ spectacle.date_from.strftime('%d/%m') }}</dd>

      <dt>Retour le</dt>
      <dd>{{ spectacle.date_to.strftime('%d/%m') }}</dd>

      <dt>Spectacles</dt>
      {% for representation_id, artist_representation_dates in artist_representation_dates | groupby('representation_id') %}
        {% set representation = artist_representation_dates[0] %}
        <dd>
          <dl>
            <dt>Spectacle</dt>
            <dd>{{ representation.representation_name }}</dd>
            <dt>Dates</dt>
            {% for representation_date_id, artist_representation_dates in artist_representation_dates | groupby('representation_date_id') %}
              {% set representation_date = artist_representation_dates[0] %}
              <dd>
                <dl>
                  <dt>Date</dt>
                  <dd>{{ representation_date.representation_date.strftime('%d/%m') }}</dd>
                  <dt>Artistes</dt>
                  {% for artist_representation_date in artist_representation_dates %}
                    <dd>{{ artist_representation_date.person_name }}</dd>
                  {% else %}
                    <dd>Pas d’artiste</dd>
                  {% endfor %}
                </dl>
              </dd>
            {% else %}
              <dd>Pas de dates</dd>
            {% endfor %}
          </dl>
        </dd>
      {% else %}
        <dd>Pas de spectacle</dd>
      {% endfor %}

      <dt>Matériel de son</dt>
      {% for sound in sounds %}
        <dd>{{ sound.name }}</dd>
      {% else %}
        <dd>Pas de matériel de son</dd>
      {% endfor %}

      <dt>Boîtes de maquillage</dt>
      {% for makeup in makeups %}
        <dd>{{ makeup.name }}</dd>
      {% else %}
        <dd>Pas de boîte de maquillage</dd>
      {% endfor %}

    </dl>
  </section>

  <section>
    <h3>Équipe</h3>

    <dl>
      <dt>Artistes</dt>
      <dt>Tout les dates</dt>
      {% for _, persons in artist_representation_dates | groupby('person_name') %}
        {% set person = persons[0] %}
        <dd>{{ person.person_name }} — {{ person.person_phone }}</dd>
      {% endfor %}

      {% if spectacle.organizer %}
        <dt>Régisseur</dt>
        <dd>{{ spectacle.organizer }}</dd>
      {% endif %}
    </dl>
  </section>

  {% if spectacle.message %}
    <section>
      <h3>Message important</h3>
      {{ spectacle.message }}
    </section>
  {% endif %}

  {% if spectacle.payment %}
    <section>
      <h3>Moyens de paiement</h3>
      {{ spectacle.payment }}
    </section>
  {% endif %}

  <section>
    <h3>Véhicules</h3>

    <dl>
      {% for vehicle in vehicles %}
        <dt>{{ vehicle.name }}</dt>
        {% if vehicle.rented %}
          <dd>Loué à {{ vehicle.rental_company_name }}</dd>
          <dd>{{ (vehicle.rented_from, vehicle.rented_to) | date_range | capitalize }}</dd>
          <dd>Adresse : {{ vehicle.rental_company_address }}</dd>
          <dd>Horaires : {{ vehicle.rental_company_hours }}</dd>
        {% endif %}
        {% if vehicle.details %}
          <dd>{{ vehicle.details }}</dd>
        {% endif %}
      {% else %}
        <dt>Pas de véhicule</dt>
      {% endfor %}
    </dl>
  </section>

  {% if spectacle.contact %}
    <section>
      <h3>Contact sur place</h3>
      {{ spectacle.contact }}
    </section>
  {% endif %}

  {% if spectacle.planning %}
    <section>
      <h3>Planning</h3>
      {{ spectacle.planning }}
    </section>
  {% endif %}

  {% if spectacle.hosting %}
    <section>
      <h3>Hébergement</h3>
      {{ spectacle.hosting }}
    </section>
  {% endif %}

  {% if spectacle.meal %}
    <section>
      <h3>Repas</h3>
      {{ spectacle.meal }}
    </section>
  {% endif %}

  {% if images %}
    <h3>Images</h3>
    <ul>
      {% for image in images %}
        <li><img src="{{ url_for('roadmap_image', image_id=image.id) }}"></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
