{% set title = 'Feuille de route' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <ul class="actions">
    <li><a href="">Voir le spectacle</a></li>
    <li><a href="">Sauvegarder</a></li>
    <li><a href="">Prévisuliser</a></li>
    <li><a href="{{ url_for('roadmap_send') }}">Envoyer</a></li>
  </ul>

  <section>
    <h3>Résumé</h3>

    <input id="place" name="place" value="le lieu, ONLA">
    <input id="date_from" name="date_from" value="date de début du spectacle, ONLA">
    <input id="date_to" name="date_to" value="date de fin du spectacle, ONLA">

    <label for="event">Évènement</label>
    <input id="event" name="event" value="nom de l’event, ONLA">

    <label for="link">Lien</label>
    <input id=link name="link" value="lien de l’event, ONLA">

    <!-- date de départ, ONLA -->
    <input id="date_departure" type="date">
    <!-- date de retour, ONLA -->
    <input id="date_return" type="date">

    <dl id="spectacles">
      <dt><input id="spectacle_1" value="nom du spectacle, ONLA"></dt>
      <dd><a href="">Supprimer</a></dd>
      <dt><input id="spectacle_2" value="nom du spectacle, ONLA"></dt>
      <dd><a href="">Supprimer</a></dd>
    </dl>
    <input id="new_spectacle" name="new_spectacle"><p id="add_spectacle">Ajouter un spectacle</p>

    <label for="sound">Sonorisation</label>
    <dl>
      <dt>Nom du matériel de son</dt>
      <dd><a href="">Supprimer</a></dd>
      <dt>Nom du matériel de son</dt>
      <dd><a href="">Supprimer</a><dd>
    </dl>
    <label for="sound_details">Autres informations pour la sonorisation</label>
    <textarea id="sound_details" name="sound_details"></textarea>

    <label for="makeup">Boîtes de maquillage</label>
    <dl>
      <dt>Nom de la boîte</dt>
      <dd><a href="">Supprimer</a></dd>
      <dt>Nom de la boîte</dt>
      <dd><a href="">Supprimer</a><dd>
    </dl>
  </section>

  <section>
    <h3>Équipe</h3>
    <dl id="team">
      <dt>Nom de l’artiste</dt>
      <dd><a href="">Supprimer</a></dd>
      <dd><input type="checkbox" id="manager"><label>Régie</label></dd>
    </dl>
    <label for="new_name">Nom</label>
    <input id="new_name" name="new_name">
    <label for="new_firstname">Prémom</label>
    <input id="new_firstname" name="new_firstname">
    <label for="new_manager">Régie</label>
    <input type="checkbox" id="new_manager" name="new_manager">
    <p id="add_person">Ajouter à l’équipe</p>
  </section>

  <section>
    <h3>Message Important</h3>
    <textarea></textarea>
  </section>

  <section>
    <h3>Moyens de paiement</h3>
    <label for="payment">Moyen de paiement</label>
    <input id="new_payment" name="new_payment">
    <p id="add_payment">Ajouter le moyen de paiement</p>
  </section>

  <section>
    <h3>Véhicules</h3>

  </section>

  <section>
    <h3>Contact sur place</h3>
    <textarea></textarea>
  </section>

  <section>
    <h3>Planning</h3>

  </section>

  <section>
    <h3>Hébergement</h3>

  </section>

  <section>
    <h3>Repas</h3>

  </section>

  <section>
    <h3>Pièces-jointes</h3>

    <label for="attached_description">Description des pièces-jointes</label>
    <textarea id="attached_description" name="attached_description"></textarea>

    <input id="file_1" type="file">
    <p id="add_file">Ajouter une pièce-jointe</p>    
  </section>

  <script>
   function add_spectacle_input() {
       let parent = document.getElementById("spectacles");
       let dts = parent.getElementsByTagName("dt");
       let last_dd = parent.lastElementChild;

       let new_spectacle = document.getElementById("new_spectacle");

       let id_input = Number(dts.length) + 1;
       let new_input = document.createElement("input");
       new_input.setAttribute("id", `spectacle_${id_input}`);
       new_input.setAttribute("name", "spectacle");
       new_input.setAttribute("value", new_spectacle.value);

       let new_dt = document.createElement("dt");
       new_dt.appendChild(new_input)

       let new_dd = document.createElement("dd");
       new_dd.innerHTML += '<a href="">Supprimer</a>';

       parent.insertBefore(new_dt, last_dd.nextSibling);
       parent.insertBefore(new_dd, new_dt.nextSibling);

       new_spectacle.value = "";
   }

   function add_person() {
       let parent = document.getElementById("team");
       let dts = parent.getElementsByTagName("dt");
       let last_dd = parent.lastElementChild;

       let name = document.getElementById("new_name");
       let firstname = document.getElementById("new_firstname");
       let is_manager = document.getElementById("new_manager");

       let new_dt = document.createElement("dt");
       new_dt.innerHTML += name.value + " " + firstname.value;

       let new_dd = document.createElement("dd");
       new_dd.innerHTML += '<a href="">Supprimer</a>';

       let new_dd_checkbox = document.createElement("dd");

       let new_checkbox = document.createElement("input");
       new_checkbox.setAttribute("type", "checkbox");
       new_checkbox.setAttribute("checked", is_manager.checked);

       new_dd_checkbox.appendChild(new_checkbox);

       new_dd_checkbox.innerHTML += '<label>Régie</label>';

       parent.insertBefore(new_dt, last_dd.nextSibling);
       parent.insertBefore(new_dd, new_dt.nextSibling);
       parent.insertBefore(new_dd_checkbox, new_dd.nextSibling);

       name.value = "";
       firstname.value = "";
       is_manager.checked = false;
   }

   function add_file_input() {
       let p = document.getElementById("add_file");
       let parent = p.parentElement;

       let id_input = Number(p.previousElementSibling.id.split("_")[1]) + 1;

       let new_input = document.createElement("input");
       new_input.setAttribute("id", `file_${id_input}`);
       new_input.setAttribute("type", "file");

       parent.insertBefore(new_input, p);
   }

   document.getElementById("add_spectacle").addEventListener("click", (event) => add_spectacle_input());
   document.getElementById("add_person").addEventListener("click", (event) => add_person());
   document.getElementById("add_payment").addEventListener("click", (event) => add_payment());
   document.getElementById("add_file").addEventListener("click", (event) => add_file_input());
  </script>
{% endblock %}
