{% set spectacle = representations[0] %}
{% set all_dates = (representations | map(attribute='representation_dates') | select | join(',')).split(',') | sort | list %}
{% set dates = (all_dates[0], all_dates[-1]) | date_range %}
{% set title = '{}, {} — Feuille de route'.format(spectacle.place, dates) %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <h3>Données complémentaires</h3>
  <form method="post" action="{{ url_for('roadmap_comment', spectacle_id=spectacle.id) }}">
    <label for="message">Commentaire</label>
    <textarea id="message" name="message">{{ spectacle.message or '' }}</textarea>

    <label for="payment">Moyens de paiement</label>
    <textarea id="payment" name="payment">{{ spectacle.payment or '' }}</textarea>

    <label for="contact">Contact sur place</label>
    <textarea id="contact" name="contact">{{ spectacle.contact or '' }}</textarea>

    <label for="planning">Planning</label>
    <textarea id="planning" name="planning">{{ spectacle.planning or '' }}</textarea>

    <label for="hosting">Hébergement</label>
    <textarea id="hosting" name="hosting">{{ spectacle.hosting or '' }}</textarea>

    <label for="meal">Repas</label>
    <textarea id="meal" name="meal">{{ spectacle.meal or '' }}</textarea>

    <label for="images_comment">Commentaires sur les images</label>
    <textarea id="images_comment" name="images_comment">{{ spectacle.images_comment or '' }}</textarea>

    <label for="sound_comment">Commentaires sur le matériel de son</label>
    <textarea id="sound_comment" name="sound_comment">{{ spectacle.sound_comment or '' }}</textarea>

    <label for="light_comment">Commentaires sur les lumières</label>
    <textarea id="light_comment" name="light_comment">{{ spectacle.light_comment or '' }}</textarea>

    <input class="button" type="submit" value="Enregistrer">
  </form>

  <h3>Images</h3>
  {% if images %}
    <ul id="images">
      {% for image in images %}
        <li>
          <img src="{{ url_for('static', filename='roadmap_images/' + image.filename) }}">
          <form method="post" action="{{ url_for('roadmap_detach_image', image_id=image.id) }}">
            <input class="button" type="submit" value="Supprimer">
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Pas d’image</p>
  {% endif %}

  <form method="post" enctype="multipart/form-data" action="{{ url_for('roadmap_attach_image', spectacle_id=spectacle.id) }}">
    <label for="new-images">Nouvelle image</label>
    <div id="add-images">
      <input id="new-images" name="images" type="file" accept="image/png, image/jpeg" multiple>

      <input class="button" type="submit" value="Ajouter">
    </div>
  </form>

  <h3>Destinataires</h3>

  <form method="post">
    <ul id="recipients">
      {% for recipient in recipients %}
        <li class="readonly">
          <input name="mail" value="{{ recipient.mail }}" readonly><button class="delete" type="button" onClick="remove(this)">Supprimer</button><p>({{ recipient.name }})</p>
        </li>
      {% endfor %}
    </ul>

    <div>
      <select id="person">
        <option></option>
        {% for person in persons %}
        <option value="{{ person.mail }}">{{ person.name }}</option>
        {% endfor %}
      </select>
      <button class="add" type="button" onClick="addRecipient()">Ajouter</button>
    </div>

    <input class="button" type="submit" value="Envoyer">
  </form>

  <ul class="actions">
    <li><a class="overview" href="{{ url_for('roadmap', spectacle_id=spectacle.id) }}">Télécharger un aperçu</a></li>
  </ul>

  <script>
    function addInputIfNeeded() {
      if (![...document.querySelectorAll('input[name="mail"]')].filter(node => !node.value.length).length) {
        let li = document.createElement("li");

        let input = document.createElement("input");
        input.setAttribute("type", "mail");
        input.setAttribute("name", "mail");
        input.setAttribute("onInput", "addInputIfNeeded()");
        li.appendChild(input);

        let button = document.createElement("button");
        button.setAttribute("type", "button");
        button.setAttribute("onClick", "remove(this)");
        button.setAttribute("class", "delete");
        button.textContent = "Supprimer";
        li.appendChild(button);

        document.getElementById("recipients").appendChild(li);
      }
    }

    function addRecipient() {
      let select = document.getElementById("person");
      let option = select.options[select.selectedIndex];

      let li = document.createElement("li");
      li.setAttribute("class", "readonly");

      let input = document.createElement("input");
      input.setAttribute("value", option.value);
      input.setAttribute("type", "mail");
      input.setAttribute("name", "mail");
      input.setAttribute("readonly", true);
      li.appendChild(input);

      let button = document.createElement("button");
      button.setAttribute("type", "button");
      button.setAttribute("class", "delete");
      button.setAttribute("onClick", "remove(this)");
      button.textContent = "Supprimer";
      li.appendChild(button);

      let p = document.createElement("p");
      p.textContent = "(" + option.textContent + ")";
      li.appendChild(p);

      document.querySelector('#recipients li:not(.readonly)').before(li);

      select.value = null;
    }

    function remove(button) {
      button.parentNode.parentNode.removeChild(button.parentNode);
      addInputIfNeeded();
    }

    addInputIfNeeded();
  </script>

  {% include '_editor.jinja2' %}
{% endblock %}
