{% set title = 'Spectacles' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Spectacles</h2>

  <ul>
    <li><a href="">Mois précédent</a></li>
    <li>Mois en cours</li>
    <li><a href="">Mois suivant</a></li>
  </ul>

  <ul class="actions">
    <li><a href="{{ url_for('add_show') }}">Ajouter un spectacle</a></li>
  </ul>

  <section>
    <ul>
      <li>Date</li>
      <li>Lieu</li>
      <li>Temps de transport</li>
    </ul>

    <dl>
      <dt>Évènement</dt>
      <dd>Nom de l’évènement</dd>
      <dt>Spectacle</dt>
      <dd>Nom du spectacle</dd>
    </dl>
  </section>

  <section>
    <ul>
      <li>Date</li>
      <li>Lieu</li>
      <li>Temps de transport</li>
    </ul>

    <dl>
      <dt>Évènement</dt>
      <dd>Nom de l’évènement</dd>
      <dt>Spectacle</dt>
      <dd>Nom du spectacle</dd>
    </dl>
  </section>

  <section>
    <ul>
      <li>Date</li>
      <li>Lieu</li>
      <li>Temps de transport</li>
    </ul>

    <dl>
      <dt>Évènement</dt>
      <dd>Nom de l’évènement</dd>
      <dt>Spectacle</dt>
      <dd>Nom du spectacle</dd>
    </dl>
  </section>
{% endblock %}
