{% set title = 'Matériel de son − {}'.format(sound.name) %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <form method="post">
    <label for="name">Nom</label>
    <input id="name" name="name" value="{{ sound.name }}" required>

    <label for"=color">Couleur</label>
    <input id="color" name="color" type="color" value="{{ sound.color or '' }}">

    {# TODO: define how sounds are hidden #}

    <input type="submit" value="Mettre à jour">
  </form>
{% endblock %}
