{% set title = 'Matériels de son' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2 class="sound">{{ title }}</h2>

  <ul class="actions">
    <li><a class="create" href="{{ url_for('sound_create') }}">Ajouter un matériel de son</a></li>
  </ul>

  {% for hidden, sounds in sounds | groupby('hidden') | sort %}
    {% if hidden %}
      <details>
        <summary>Matériels de son cachés</summary>
    {% endif %}
    <dl>
      <dl>
        {% for sound in sounds %}
        <div>
          <dt{% if sound.color %} style="--data-color: {{ sound.color }}"{% endif %}><a href="{{ url_for('sound_update', sound_id=sound.id) }}">{{ sound.name }}</a></dt>
          <dd><a class="update" href="{{ url_for('sound_update', sound_id=sound.id) }}">Éditer</a></dd>
          {% if hidden %}
            <dd><a class="show" href="{{ url_for('show', type='sound', id=sound.id) }}">Montrer</a></dd>
          {% else %}
            <dd><a class="hide" href="{{ url_for('hide', type='sound', id=sound.id) }}">Cacher</a></dd>
          {% endif %}
        </div>
        {% endfor %}
      </dl>
    {% if hidden %}
      </details>
    {% endif %}
  {% endfor %}
{% endblock %}
