{% set spectacle = representations[0] %}
{% set all_dates = (representations | join(',', attribute='representation_dates')).split(',') | sort | list %}
{% set dates = (all_dates[0], all_dates[-1]) | date_range %}
{% set title = '{}, {}'.format(spectacle.place, dates) %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <h3>Résumé</h3>
  <form method="post">
    <h3>Informations générales</h3>

    <label for="date_from">Date de départ</label>
    <input id="date_from" name="date_from" type="date" value="{{ spectacle.date_from }}" required>

    <label for="date_to">Date de retour</label>
    <input id="date_to" name="date_to" type="date" value="{{ spectacle.date_to }}" required>

    <label for="place">Lieu</label>
    <input id="place" name="place" value="{{ spectacle.place }}" required>

    <label for="event">Évènement</label>
    <input id="event" name="event" value="{{ spectacle.event }}" required>

    <label for="trigram">Trigramme</label>
    <input id="trigram" name="trigram" value="{{ spectacle.trigram }}" required>

    <label for="travel_time">Temps de transport</label>
    <input id="travel_time" name="travel_time" value="{{ spectacle.travel_time or '' }}">

    <label for="link">Lien</label>
    <input id="link" name="link" value="{{ spectacle.link or '' }}">

    <label for="configuration">Configuration</label>
    <input id="configuration" name="configuration" value="{{ spectacle.configuration or '' }}">

    <label for="organizer">Régisseur</label>
    <input id="organizer" name="organizer" value="{{ spectacle.organizer or '' }}">

    <label>Matériel de son</label>
    <div>
      <select data-name="sound">
        <option></option>
        {% for sound in sounds %}
        <option value="{{ sound.id }}">{{ sound.name }}</option>
        {% endfor %}
      </select>
      <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
    </div>
    <ul>
      {% if spectacle.sound_ids %}
        {% set sound_ids = spectacle.sound_ids.split(',') %}
        {% for sound in sounds %}
          {% if sound.id | string in sound_ids %}
            <li>
              <input name="sounds" value="{{ sound.id }}" hidden>
              {{ sound.name }}
              <button class="delete" type="button" onClick="remove(this)">Supprimer</button>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>

    <label>Boîtes de maquillage</label>
    <div>
      <select data-name="makeup">
        <option></option>
        {% for makeup in makeups %}
        <option value="{{ makeup.id }}">{{ makeup.name }}</option>
        {% endfor %}
      </select>
      <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
    </div>
    <ul>
      {% if spectacle.makeup_ids %}
        {% set makeup_ids = spectacle.makeup_ids.split(',') %}
        {% for makeup in makeups %}
          {% if makeup.id | string in makeup_ids %}
            <li>
              <input name="makeups" value="{{ makeup.id }}" hidden>
              {{ makeup.name }}
              <button class="delete" type="button" onClick="remove(this)">Supprimer</button>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>

    <label>Costumes</label>
    <div>
      <select data-name="costume">
        <option></option>
        {% for costume in costumes %}
        <option value="{{ costume.id }}">{{ costume.name }}</option>
        {% endfor %}
      </select>
      <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
    </div>
    <ul>
      {% if spectacle.costume_ids %}
        {% set costume_ids = spectacle.costume_ids.split(',') %}
        {% for costume in costumes %}
          {% if costume.id | string in costume_ids %}
            <li>
              <input name="costumes" value="{{ costume.id }}" hidden>
              {{ costume.name }}
              <button class="delete" type="button" onClick="remove(this)">Supprimer</button>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>

    <label>Véhicules</label>
    <div>
      <select data-name="vehicle">
        <option></option>
        {% for vehicle in vehicles %}
        <option value="{{ vehicle.id }}">{{ vehicle.name }}</option>
        {% endfor %}
      </select>
      <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
    </div>
    <ul>
      {% if spectacle.vehicle_ids %}
        {% set vehicle_ids = spectacle.vehicle_ids.split(',') %}
        {% for vehicle in vehicles %}
          {% if vehicle.id | string in vehicle_ids %}
            <li>
              <input name="vehicles" value="{{ vehicle.id }}" hidden>
              {{ vehicle.name }}
              <button class="delete" type="button" onClick="remove(this)">Supprimer</button>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>

    <h3>Spectacles</h3>
    <label for="name">Nom</label>
    <div>
      <input id="name" onKeyPress="if (event.keyCode == 13) { addSpectacle(); return false }">
      <button class="add" type="button" onClick="addSpectacle()">Ajouter</button>
    </div>

    <ul id="spectacles-list">
      <li style="display: none">
        <label>Nom</label>
        <div>
          <input name="name">
          <button class="delete" type="button" onClick="remove(this)">Supprimer</button>
        </div>

        <label>Dates</label>
        <input name="dates" type="date" onInput="addInputIfNeeded(this)">

        <label>Artistes</label>
        <div>
          <select data-name="artist">
            <option></option>
            {% for artist in artists %}
            <option value="{{ artist.id }}">{{ artist.name }}</option>
            {% endfor %}
          </select>
          <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
        </div>
        <ul class="artists-list"></ul>
      </li>

      {% for representation in representations %}
      <li>
        <label>Nom</label>
        <div>
          <input name="{{ representation.id }}-name" value="{{ representation.representation_name }}">
          <button class="delete" type="button" onClick="remove(this)">Supprimer</button>
        </div>

        <label>Dates</label>
        {% if representation.representation_dates %}
          {% for date in representation.representation_dates.split(',') | sort %}
            <input name="{{ representation.id }}-dates" type="date" onInput="addInputIfNeeded(this)" value="{{ date }}">
          {% endfor %}
          <input name="{{ representation.id }}-dates" type="date" onInput="addInputIfNeeded(this)">
        {% endif %}

          <label>Artistes</label>
          <div>
            <select data-name="{{ representation.id }}-artist">
              <option></option>
              {% for artist in artists %}
              <option value="{{ artist.id }}">{{ artist.name }}</option>
              {% endfor %}
            </select>
            <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
          </div>
            <ul class="artists-list">
              {% if representation.artist_ids %}
                {% set artist_ids = representation.artist_ids.split(',') %}
                {% for artist in artists %}
                  {% if artist.id | string in artist_ids %}
                    <li>
                      <input name="{{ representation.id }}-artists" value="{{ artist.id }}" hidden>
                      {{ artist.name }}
                      <button class="delete" type="button" onClick="remove(this)">Supprimer</button>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>

    <input class="button" type="submit" value="Mettre à jour">
  </form>

  <script>
    function addElement(button) {
      let select = button.previousElementSibling;
      if (!select.value) return;
      let list = button.parentNode.nextElementSibling;
      let name = select.getAttribute("data-name");
      let option = select.options[select.selectedIndex];

      let li = document.createElement("li");

      let input = document.createElement("input");
      input.setAttribute("value", option.value);
      input.setAttribute("name", name + "s");
      input.setAttribute("hidden", true);
      li.appendChild(input);

      li.appendChild(document.createTextNode(option.textContent + " "));

      let deleteButton = document.createElement("button");
      deleteButton.setAttribute("type", "button");
      deleteButton.setAttribute("class", "delete");
      deleteButton.setAttribute("onClick", "remove(this)");
      deleteButton.textContent = "Supprimer";
      li.appendChild(deleteButton);

      list.appendChild(li);
      select.value = null;
    }

    function addSpectacle() {
      let id = (Math.random() + 1).toString(36).substring(7);
      let li = document.querySelector("#spectacles-list li");
      let newLi = li.cloneNode(true);
      newLi.removeAttribute("style");
      li.parentNode.appendChild(newLi);

      newLi.querySelector('[name="name"]').value = document.querySelector("#name").value;
      document.querySelector("#name").value = null;

      newLi.querySelector('[name="name"]').setAttribute("name", id + "-name");
      newLi.querySelector('[name="dates"]').setAttribute("name", id + "-dates");
      newLi.querySelector('[data-name="artist"]').setAttribute("data-name", id + "-artist");

      let previousArtists = newLi.previousElementSibling.querySelector(".artists-list");
      let newArtists = newLi.querySelector(".artists-list");
      [...previousArtists.children].forEach(
        obj => {
          let previousArtist = obj.cloneNode(true);
          previousArtist.querySelector("input").setAttribute("name", id + "-artists");
          newArtists.appendChild(previousArtist);
        }
      );
    }

    function remove(button) {
      button.parentNode.parentNode.removeChild(button.parentNode);
    }

    function addInputIfNeeded(input) {
      let parent = input.parentNode;
      if (![...parent.querySelectorAll('input')].filter(node => !node.value.length).length) {
        let newInput = input.cloneNode();
        newInput.value = null;
        parent.appendChild(newInput);
      }
    }
  </script>
{% endblock %}
