{% set title = 'Spectacles' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <ul>
    <li><a href="{{ url_for('spectacles', year=previous.year, month=previous.month) }}">Mois précédent</a></li>
    <li>{{ start.strftime('%B %Y') | capitalize }}</li>
    <li><a href="{{ url_for('spectacles', year=next.year, month=next.month) }}">Mois suivant</a></li>
  </ul>

  <ul class="actions">
    <li><a href="{{ url_for('spectacle_create') }}">Ajouter un spectacle</a></li>
  </ul>

  {% for spectacle in spectacles %}
    <section>
      <h3><a href="{{ url_for('spectacle', spectacle_id=spectacle.id) }}">{{ '{}, du {} au {}'.format(spectacle.place, spectacle.date_from.strftime('%d/%m'), spectacle.date_to.strftime('%d/%m')) }}</a></h3>
      <dl>
        <dt>Date</dt>
        <dd>Du {{ spectacle.date_from.strftime('%d/%m') }} au {{ spectacle.date_to.strftime('%d/%m') }}</dd>
        <dt>Lieu</dt>
        <dd>{{ spectacle.place }}</dd>
        <dt>Évènement</dt>
        <dd>{{ spectacle.event }}</dd>
        <dt>Temps de transport</dt>
        <dd>{{ spectacle.travel_time }}</dd>
      </dl>
    </section>
  {% endfor %}
{% endblock %}
