{% set spectacle = representation_dates[0] %}
{% set title = '{}, du {} au {}'.format(spectacle.place, spectacle.date_from.strftime('%d/%m'), spectacle.date_to.strftime('%d/%m')) %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <dl>
    <dt>Date</dt>
    <dd>Du {{ spectacle.date_from.strftime('%d/%m') }} au {{ spectacle.date_to.strftime('%d/%m') }}</dd>
    <dt>Lieu</dt>
    <dd>{{ spectacle.place }}</dd>
    <!-- N’y est pas tout le temps -->
    <dt>Temps de transport</dt>
    <dd>{{ spectacle.travel_time }}</dd>


    <dt>Évènement</dt>
    <dd>{{ spectacle.event }}</dd>

    <dt>Lien</dt>
    <dd><a href="lien">lien</a></dd>

    <dt>Configuration</dt>
    <dd>description de la configuration</dd>

    <!-- Plusieurs spectacles possible -->
    <dt>Spectacle</dt>
    <dd>nom spectacle</dd>
    <dd>nom spectacle</dd>

    <!-- Plusieurs matériel de son possible -->
    <dt>Sonorisation</dt>
    <dd><a href="">matériel son</a></dd>
    <dd><a href="">matériel son</a></dd>

    <!-- Plusieurs boîtes de maquillage possible -->
    <dt>Boîtes de maquillage</dt>
    <dd><a href="">boite numéro</a></dd>
    <dd><a href="">boite numéro</a></dd>

    <!-- La personne organisatrice n’est pas structurée -->
    <dt>Organisateur</dt>
    <dd>organisateur</dd>

    <dt>Aller le</dt>
    <dd>date aller</dd>

    <dt>Retour le</dt>
    <dd>date retour</dd>

    <!-- Plusieurs véhicules possible -->
    <dt>Véhicules</dt>
    <dd><a href="">nom véhicule</a></dd>
    <dd><a href="">nom véhicule</a></dd>

    <!--
         Un dt pour les participants qui sont sur la durée du spectacle totale.
         Un dt par date à l’intérieur de la prestation si certaines personnes ne sont que sur un jour précis
    -->
    <dt>Participants</dt>
    <dt>Toutes les dates</dt>
    <dd><a href="">nom</a></dd>
    <dd><a href="">nom</a></dd>
    <dt>Une date précise</dt>
    <dd><a href="">nom</a></dd>
  </dl>

  <ul class="actions">
    <li><a href="{{ url_for('roadmap', spectacle_id=spectacle.id) }}">Feuille de route</a></li>
    <li><a href="{{ url_for('spectacle_update', spectacle_id=spectacle.id) }}">Éditer le spectacle</a></li>
  </ul>
{% endblock %}
