{% set title = 'Spectacles' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <ul class="time">
    <li><a class="previous" href="{{ url_for('spectacles', year=previous.year, month=previous.month) }}">Mois précédent</a></li>
    <li>{{ start.strftime('%B %Y') | capitalize }}</li>
    <li><a class="next" href="{{ url_for('spectacles', year=next.year, month=next.month) }}">Mois suivant</a></li>
  </ul>

  <ul class="actions">
    <li><a class="create" href="{{ url_for('spectacle_create') }}">Ajouter un spectacle</a></li>
  </ul>

  {% for spectacle in spectacles %}
    {% set dates = (spectacle.first_date, spectacle.last_date) | date_range %}
    <section>
      <h3><a href="{{ url_for('spectacle', spectacle_id=spectacle.id) }}">{{ '{}, {}'.format(spectacle.place, dates) }}</a></h3>
      <a href="{{ url_for('spectacle', spectacle_id=spectacle.id) }}">
        <dl>
          <dt class="date">Date</dt>
          <dd>{{ dates | capitalize }}</dd>
          <dt class="place">Lieu</dt>
          <dd>{{ spectacle.place }}</dd>
          <dt class="vehicle">Temps de transport</dt>
          <dd>{% if spectacle.travel_time %}{{ spectacle.travel_time }}{% else %}Temps indéterminé{% endif %}</dd>
        </dl>
      </a>
      <dl>
        <dt>Évènement</dt>
        <dd>{{ spectacle.event }}</dd>
        <dt>Spectacles</dt>
        {% for representation in spectacle.representations.split(',') %}
          <dd>{{ representation }}</dd>
        {% endfor %}
      </dl>
    </section>
  {% else %}
    <p>Pas de spectacle ce mois-ci.</p>
  {% endfor %}
{% endblock %}
