{% set title = 'Nouveau spectacle' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <form method="post">
    <h3>Informations générales</h3>

    <label for="place">Lieu</label>
    <input id="place" name="place" required>

    <label for="event">Évènement</label>
    <input id="event" name="event" required>

    <label for="date_from">Date de départ</label>
    <input id="date_from" name="date_from" type="date" required>

    <label for="date_to">Date de retour</label>
    <input id="date_to" name="date_to" type="date" required>

    <label for="travel_time">Temps de transport</label>
    <input id="travel_time" name="travel_time">

    <label for="link">Lien</label>
    <input id="link" name="link">

    <label for="configuration">Configuration</label>
    <input id="configuration" name="configuration">

    <label for="organizer">Organisateur</label>
    <input id="organizer" name="organizer">

    <label for="manager">Régisseur</label>
    <input id="manager" name="manager" list="managers">
    <datalist id="managers">
      {% for manager in all_managers %}
        <option value="{{ manager }}" />
      {% endfor %}
    </datalist>

    <label>Matériel de son</label>
    <div>
      <select data-name="sound">
        <option></option>
        {% for sound in sounds %}
        <option value="{{ sound.id }}">{{ sound.name }}</option>
        {% endfor %}
      </select>
      <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
    </div>
    <ul class="item-list"></ul>

    <label>Boîtes de maquillage</label>
    <div>
      <select data-name="makeup">
        <option></option>
        {% for makeup in makeups %}
        <option value="{{ makeup.id }}">{{ makeup.name }}</option>
        {% endfor %}
      </select>
      <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
    </div>
    <ul class="item-list"></ul>

    <label>Costumes</label>
    <div>
      <select data-name="costume">
        <option></option>
        {% for costume in costumes %}
        <option value="{{ costume.id }}">{{ costume.name }}</option>
        {% endfor %}
      </select>
      <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
    </div>
    <ul class="item-list"></ul>

    <label>Véhicules</label>
    <div>
      <select data-name="vehicle">
        <option></option>
        {% for vehicle in vehicles %}
        <option value="{{ vehicle.id }}">{{ vehicle.name }}</option>
        {% endfor %}
      </select>
      <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
    </div>
    <ul class="item-list"></ul>

    <h3>Spectacles</h3>
    <datalist id="representations">
      {% for representation in all_representations %}
        <option value="{{ representation }}" />
      {% endfor %}
    </datalist>

    <label for="name">Nom</label>
    <div>
      <input id="name" list="representations" onKeyPress="if (event.keyCode == 13) { addSpectacle(); return false }">
      <button class="add" type="button" onClick="addSpectacle()">Ajouter</button>
    </div>

    <ul id="spectacles-list">
      <li style="display: none">
        <label>Nom</label>
        <div>
          <input name="name" list="representations">
          <button class="delete" type="button" onClick="remove(this)">Supprimer</button>
        </div>

        <label>Dates</label>
        <div class="dates">
          <input name="dates" type="date" onInput="addInputIfNeeded(this)">
        </div>

        <label>Équipe</label>
        <div>
          <select data-name="artist">
            <option></option>
            {% for artist in all_artists %}
            <option value="{{ artist.id }}">{{ artist.name }}</option>
            {% endfor %}
          </select>
          <button class="add" type="button" onClick="addElement(this)">Ajouter</button>
        </div>
        <ul class="artists-list"></ul>
      </li>
    </ul>

    <label for="comment">Commentaire interne</label>
    <textarea id="comment" name="comment"></textarea>

    <input class="button" type="submit" value="Créer">
  </form>

  <script>
    function addElement(button) {
      let select = button.previousElementSibling;
      if (!select.value) return;
      let list = button.parentNode.nextElementSibling;
      let name = select.getAttribute("data-name");
      let option = select.options[select.selectedIndex];

      let li = document.createElement("li");

      let input = document.createElement("input");
      input.setAttribute("value", option.value);
      input.setAttribute("name", name + "s");
      input.setAttribute("hidden", true);
      li.appendChild(input);

      li.appendChild(document.createTextNode(option.textContent + " "));

      let deleteButton = document.createElement("button");
      deleteButton.setAttribute("type", "button");
      deleteButton.setAttribute("onClick", "remove(this)");
      deleteButton.setAttribute("class", "delete");
      deleteButton.textContent = "Supprimer";
      li.appendChild(deleteButton);

      list.appendChild(li);
      select.value = null;
    }

    function addSpectacle() {
      let id = (Math.random() + 1).toString(36).substring(7);
      let li = document.querySelector("#spectacles-list li");
      let newLi = li.cloneNode(true);
      newLi.removeAttribute("style");
      li.parentNode.appendChild(newLi);

      newLi.querySelector('[name="name"]').value = document.querySelector("#name").value;
      document.querySelector("#name").value = null;

      newLi.querySelector('[name="name"]').setAttribute("name", id + "-name");
      newLi.querySelector('[name="dates"]').setAttribute("name", id + "-dates");
      newLi.querySelector('[data-name="artist"]').setAttribute("data-name", id + "-artist");

      let previousArtists = newLi.previousElementSibling.querySelector(".artists-list");
      let newArtists = newLi.querySelector(".artists-list");
      [...previousArtists.children].forEach(
        obj => {
          let previousArtist = obj.cloneNode(true);
          previousArtist.querySelector("input").setAttribute("name", id + "-artists");
          newArtists.appendChild(previousArtist);
        }
      );

      newLi.querySelector('input').focus();
    }

    function remove(button) {
      button.parentNode.parentNode.removeChild(button.parentNode);
    }

    function addInputIfNeeded(input) {
      let parent = input.parentNode;
      if (![...parent.querySelectorAll('input')].filter(node => !node.value.length).length) {
        let newInput = input.cloneNode();
        newInput.value = null;
        parent.appendChild(newInput);
      }
    }
  </script>
{% endblock %}
