{% set spectacle = artist_representation_dates[0] %}
{% set first_date = (artist_representation_dates | sort(attribute='representation_date'))[0].representation_date %}
{% set last_date = (artist_representation_dates | sort(attribute='representation_date'))[-1].representation_date %}
{% set dates = (first_date, last_date) | date_range %}
{% set title = '{}, {}'.format(spectacle.place, dates) %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <dl>
    <dt>Date</dt>
    <dd>{{ dates | capitalize }}</dd>
    <dt>Lieu</dt>
    <dd>{{ spectacle.place }}</dd>

    {% if spectacle.travel_time %}
      <dt>Temps de transport</dt>
      <dd>{{ spectacle.travel_time }}</dd>
    {% endif %}

    <dt>Évènement</dt>
    <dd>
      {% if spectacle.event_link %}
        <a href="{{ spectacle.event_link }}">{{ spectacle.event }}</a>
      {% else %}
        {{ spectacle.event }}
      {% endif %}
    </dd>

    <dt>Configuration</dt>
    <dd>{{ spectacle.configuration }}</dd>

    {% if spectacle.manager %}
      <dt>Régisseur</dt>
      <dd>{{ spectacle.manager }}</dd>
    {% endif %}

    <dt>Spectacles</dt>
    {% for representation_id, artist_representation_dates in artist_representation_dates | groupby('representation_id') %}
      {% set representation = artist_representation_dates[0] %}
      <dd>
        <dl>
          <dt>Spectacle</dt>
          <dd>{{ representation.representation_name }}</dd>
          <dt>Dates</dt>
          {% for representation_date_id, artist_representation_dates in artist_representation_dates | groupby('representation_date_id') %}
            {% set representation_date = artist_representation_dates[0] %}
            <dd>
              <dl>
                <dt>Date</dt>
                <dd>{{ representation_date.representation_date.strftime('%d/%m') }}</dd>
                <dt>Artistes</dt>
                {% for artist_representation_date in artist_representation_dates %}
                  <dd>{{ artist_representation_date.person_name }}</dd>
                {% else %}
                  <dd>Pas d’artiste</dd>
                {% endfor %}
              </dl>
            </dd>
          {% else %}
            <dd>Pas de dates</dd>
          {% endfor %}
        </dl>
      </dd>
    {% else %}
      <dd>Pas de spectacle</dd>
    {% endfor %}

    <dt>Matériel de son</dt>
    {% for sound in sounds %}
      <dd>{{ sound.name }}</dd>
    {% else %}
      <dd>Pas de matériel de son</dd>
    {% endfor %}

    <dt>Boîtes de maquillage</dt>
    {% for makeup in makeups %}
      <dd>{{ makeup.name }}</dd>
    {% else %}
      <dd>Pas de boîte de maquillage</dd>
    {% endfor %}

    <dt>Costumes</dt>
    {% for costume in costumes %}
      <dd>{{ costume.name }}</dd>
    {% else %}
      <dd>Pas de costume</dd>
    {% endfor %}

    {% if spectacle.organizer %}
      <dt>Régisseur</dt>
      <dd>{{ spectacle.organizer }}</dd>
    {% endif %}

    <dt>Départ le</dt>
    <dd>{{ spectacle.date_from.strftime('%d/%m') }}</dd>

    <dt>Retour le</dt>
    <dd>{{ spectacle.date_to.strftime('%d/%m') }}</dd>

    <dt>Véhicules</dt>
    {% for vehicle in vehicles %}
      <dd>{{ vehicle.name }}</dd>
    {% else %}
      <dd>Pas de véhicule</dd>
    {% endfor %}
  </dl>

  <ul class="actions">
    <li><a href="{{ url_for('roadmap_send', spectacle_id=spectacle.id) }}">Envoyer la feuille de route</a></li>
    <li><a href="{{ url_for('spectacle_update', spectacle_id=spectacle.id) }}">Éditer le spectacle</a></li>
  </ul>
{% endblock %}
