{% set spectacle = representations[0] %}
{% set all_dates = (representations | map(attribute='representation_dates') | select | join(',')).split(',') | sort | list %}
{% set dates = (all_dates[0], all_dates[-1]) | date_range %}
{% set title = '{}, {}'.format(spectacle.place, dates) %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <dl>
    <dt class="date">Date</dt>
    <dd>{{ dates | capitalize }}</dd>
    <dt class="place">Lieu</dt>
    <dd>
      {{ spectacle.place }}
      {% if spectacle.travel_time %}
        ({{ spectacle.travel_time }})
      {% endif %}
    </dd>
    <dt class="configuration">Configuration</dt>
    <dd>{{ spectacle.configuration }}</dd>
  </dl>

  <dl>
    <dt>Évènement</dt>
    <dd>
      {% if spectacle.event_link %}
        <a href="{{ spectacle.event_link }}">{{ spectacle.event }}</a>
      {% else %}
        {{ spectacle.event }}
      {% endif %}
    </dd>

    {% if spectacle.configuration %}
      <dt>Configuration</dt>
      <dd>{{ spectacle.configuration }}</dd>
    {% endif %}

    {% if spectacle.organizer %}
      <dt>Organisateur</dt>
      <dd>{{ spectacle.organizer }}</dd>
    {% endif %}

    <dt>Matériel de son</dt>
    {% for sound in sounds %}
      <dd>{{ sound.name }}</dd>
    {% else %}
      <dd>Pas de matériel de son</dd>
    {% endfor %}

    <dt>Boîtes de maquillage</dt>
    {% for makeup in makeups %}
      <dd>{{ makeup.name }}</dd>
    {% else %}
      <dd>—</dd>
    {% endfor %}

    <dt>Costumes</dt>
    {% for costume in costumes %}
      <dd>{{ costume.name }}</dd>
    {% else %}
      <dd>Pas de costume</dd>
    {% endfor %}

    <dt>Départ le</dt>
    <dd>{{ spectacle.date_from | date_simple }}</dd>

    <dt>Retour le</dt>
    <dd>{{ spectacle.date_to | date_simple }}</dd>

    <dt>Véhicules</dt>
    {% for vehicle in vehicles %}
      <dd>{{ vehicle.name }}</dd>
    {% else %}
      <dd>Pas de véhicule</dd>
    {% endfor %}

    {% if representations | length >= 2 %}
      <dt>Spectacles</dt>
    {% endif %}
    {% for representation in representations %}
      {% if representations | length >= 2 %}
        <dd>
          <dl>
            <dt>Spectacle {{ loop.index }}</dt>
      {% else %}
        <dt>Spectacle</dt>
      {% endif %}
      <dd>{{ representation.representation_name or 'Pas de spectacle' }}</dd>
      <dt>Dates</dt>
      {% if representation.representation_dates %}
        {% for representation_date in representation.representation_dates.split(',') %}
          <dd>{{ representation_date | date_simple }}</dd>
        {% else %}
          <dd>Pas de dates</dd>
        {% endfor %}
      {% else %}
        <dd>Pas de dates</dd>
      {% endif %}
      <dt>Équipe</dt>
      {% if representation.artists_name_and_phone %}
        {% for artist_name_and_phone in representation.artists_name_and_phone.split(',') %}
          {% set name = artist_name_and_phone.split('||')[0] %}
          <dd>{{ name }}</dd>
        {% else %}
          <dd>Personne dans l’équipe</dd>
        {% endfor %}
      {% else %}
        <dd>Personne dans l’équipe</dd>
      {% endif %}
      {% if representations | length >= 2 %}
          </dl>
        </dd>
      {% endif %}
    {% else %}
      <dd>Pas de spectacle</dd>
    {% endfor %}

    {% if spectacle.comment %}
      <dt>Commentaire interne</dt>
      <dd>{{ spectacle.comment }}</dd>
    {% endif %}
  </dl>

  <ul class="actions">
    <li><a class="remove" href="{{ url_for('spectacle_remove', spectacle_id=spectacle.id) }}">Supprimer le spectacle</a></li>
    <li><a class="send" href="{{ url_for('roadmap_send', spectacle_id=spectacle.id) }}">Envoyer la feuille de route</a></li>
    <li><a class="update" href="{{ url_for('spectacle_update', spectacle_id=spectacle.id) }}">Éditer le spectacle</a></li>
  </ul>
{% endblock %}
