{% set title = 'Véhicule − ' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Véhicule − </h2>

  <ul class="actions">
    <li>Supprimer le véhicule</li>
  </ul>

  <form>
    <label for="name">Nom</label>
    <input id="name" name="name" value="">

    <label for="type">Type</label>
    <input id="type" name="type" value="">

    <label for="registration">Immatriculation</label>
    <input id="registration" name="registration" value="">

    <fieldset>
      <input type="radio" id="rental" name="rental_status" value="rental">
      <label for="rental">Location</label>

      <input type="radio" id="company" name="rental_status" value="company">
      <label for="company">Mademoiselle Paillette</label>
    </fieldset>

    <label for="rental_company">Agence de location</label>
    <input id="rental_company" name="rental_company" value="" />

    <label for="hours_rental_company">Horaires de l’agence de location</label>
    <input id="hours_rental_company" name="hours_rental_company" value="">

    <label for="address_rental_company">Adresse de l’agence de location</label>
    <input id="address_rental_company" name="address_rental_company" value="">

    <label for="start_rental">Loué du</label>
    <input id="start_rental" name="start_rental" type="date" value="">

    <label for="end_rental">au</label>
    <input id="end_rental" name="end_rental" type="date" value="">

    <a href="">Annuler</a>
    <input type="submit" value="Mettre à jour">
  </form>
{% endblock %}
