{% set title = 'Suivi des véhicules' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <ul class="follow">
    <li><a class="artist" href="{{ url_for('artists_followup', year=start.year, month=start.month) }}">Artistes</a></li>
    <li><a class="costume" href="{{ url_for('costumes_followup', year=start.year, month=start.month) }}">Costumes</a></li>
    <li><a class="makeup" href="{{ url_for('makeups_followup', year=start.year, month=start.month) }}">Maquillage</a></li>
    <li><a class="sound" href="{{ url_for('sounds_followup', year=start.year, month=start.month) }}">Son</a></li>
    <li><a class="vehicle" href="{{ url_for('vehicles_followup', year=start.year, month=start.month) }}">Véhicules</a></li>
  </ul>

  <ul class="time">
    <li><a class="previous" href="{{ url_for('vehicles_followup', year=previous.year, month=previous.month) }}">Mois précédent</a></li>
    <li>{{ start.strftime('%B %Y') | capitalize }}</li>
    <li><a class="next" href="{{ url_for('vehicles_followup', year=next.year, month=next.month) }}">Mois suivant</a></li>
  </ul>

  <table>
    <thead>
      <tr>
        <th></th>
        {% for i in range(1, stop.day + 1) %}
          <th>{{ start.replace(day=i) | date_simple }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for (grouper, spectacles) in vehicles_spectacles | groupby('grouper') %}
        {% set vehicle = spectacles[0] %}
        <tr>
          <th>{{ vehicle.name }}</th>
          {% for i in range(1, stop.day + 1) %}
            {% set day = start.replace(day=i) %}
            <td>
              {% for spectacle in spectacles %}
                {% if spectacle.date_from and spectacle.date_from <= day <= spectacle.date_to %}
                  {{ spectacle.trigram }}
                {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
