{% set title = 'Ajouter un véhicule' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <form method="post">
    <label for="name">Nom</label>
    <input id="name" name="name" required>

    <label for"=color">Couleur</label>
    <input id="color" name="color" type="color">

    <label for="type">Type</label>
    <input id="type" name="type">

    <label for="license_plate">Immatriculation</label>
    <input id="license_plate" name="license_plate">

    <fieldset>
      <input type="radio" id="rental" name="rental_status" value="rental" checked>
      <label for="rental">Location</label>

      <input type="radio" id="company" name="rental_status" value="company">
      <label for="company">Mademoiselle Paillette</label>
    </fieldset>

    <label for="rental_company_name">Agence de location</label>
    <input id="rental_company_name" name="rental_company_name">

    <label for="rental_company_hours">Horaires de l’agence de location</label>
    <textarea id="rental_company_hours" name="rental_company_hours"></textarea>

    <label for="rental_company_address">Adresse de l’agence de location</label>
    <textarea id="rental_company_address" name="rental_company_address"></textarea>

    <label for="rented_from">Début de la location</label>
    <input id="rented_from" name="rented_from" type="date">

    <label for="rented_to">Fin de la location</label>
    <input id="rented_to" name="rented_to" type="date">

    {# TODO: JS to hide rental company #}

    <input type="submit" value="Ajouter">
  </form>
{% endblock %}
